html,
body {
    margin: 0;
    background-image: url("icons/webimage.jpg") ;
}

h1 {
    display: flex;
    justify-content: center;
    font-family:  Garamond,  fantasy;
    color: rgb(77, 74, 74);
    color: rgb(207, 132, 132);
    font-size: 2.7rem;
    margin-bottom: 0%;
}

.selections {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px ;
    padding-top: 10px;
    position: relative;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 140ms;
    padding: 10px 30px;
    width: 10rem;
    flex-wrap: wrap;
    -webkit-tap-highlight-color: transparent;
}

.selection:hover {
    transform: scale(1.15);
}




.ycScore {
    display: flex;
    justify-content: center; 
    align-items: center;
}
.you, .computer {
    display: flex;
    color: grey;
    font-weight: 580;
    font-size: 2.3rem;
    padding: 0 40px;
}
.youScore, .computerScore {
    display: flex;
    justify-content: center;
    color: rgb(207, 132, 132);
    font-size: 1.9rem;
    padding: 0 40px;
}
.rules {

    display: flex;
    justify-content: center;
    font-family:  Garamond,  fantasy;
    color: rgb(77, 74, 74);
    font-size: 1.6rem;
    margin-bottom: 0%;
}
.explanation {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-size: 1.8rem;
    font-family: serif;
}

.btnPos {
    display: flex;
    justify-content: center;
}
#reloadBtn {
    width: 37rem;
    height: 15rem;
    cursor: pointer;
    position: absolute;
    visibility: hidden;
    top: 85px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    }
.instagram:hover {
    filter: opacity(0.2) drop-shadow(0 0 0 rgb(225, 26, 243));
}
.facebook:hover {
    filter: opacity(0.2) drop-shadow(0 0 0 rgb(33, 47, 241));
}

a {
    padding-left: 10px;
}
.choice {
    display: flex;
    justify-content: center;
}
.youChoice, .cpuChoice{
    width: 19%;
    height: 19%;
    filter: opacity(0.2) drop-shadow(0 0 0 rgb(0, 0, 0));
}
.youChoice {
    margin-left: auto;
}
.cpuChoice {
   margin-right: auto;
}

@media (max-width: 800px) {
    h1 {
        font-size: 3rem;
        padding-bottom: 2rem;
    }
    #reloadBtn {
        margin-top: 0.7rem;
        height: 13.5rem ;
    }
    .selections .selection {
        width: 17%;
        height: 17%;
    }
    .selections {
        padding: 0 0 0 0;
    }
    .selection {
        padding: 10px 25px;
    }
}

@media (max-width: 600px) {
    #reloadBtn {
        width: 28rem;
        height: 11rem ;
        top: 87px;
    }
    .selections .selection {
        width: 16%;
        height: 16%;
    }
    h1 {
        font-size: 3rem;
        padding-bottom: 2rem;
    }
    .selection {
        padding: 8px 20px;
    }
    #score {
     font-size: 160% ; 
    }
}
@media (max-width: 450px) {
    #reloadBtn {
        width: 25rem;
        height: 11rem ;
        top: 84px;  
    }
    .selections .selection {
        width: 15%;
        height: 15%;
    }
    .you, .computer     {
        padding: 0 15px;
        padding-top: 25px;
    }
    .youScore, .computerScore {
        padding: 0 15px;
    }
    #score {
        font-size: 1.3rem;
    }
}
@media (max-width: 400px) {
    #reloadBtn {
        width: 21rem;
        height: 9rem ;
        top: 80px;  
    }
    h1 {
        font-size: 2.5rem;
    }
    .selections .selection {
        width: 14%;
        height: 14%;
    }
    .you, .computer {
    font-size: 1.9rem;

    }
}
@media (max-width: 382px) {
    .selections .selection {
        padding: 5px 15px;
    }
    #score {
        font-size: 1rem;
    }
}
@media (max-width: 350px) {
    #reloadBtn {
        width: 19rem;
        height: 8rem ;
        top: 75px;  
    }
    #score {
        font-size: 90%;
    }
}
@media (max-width: 300px) {
    #reloadBtn {
        width: 16rem;
        height: 7rem ;
        top: 75px;  
    }
}
@media (max-width: 850px) {
    .explanation {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 2rem;
        font-size: 1.1rem;
        
    }
}
